@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
		var memberService = ApplicationContext.Current.Services.MemberService;
		var activeMembers = memberService.GetMembersByGroup("Active");
		var prospectMembers = memberService.GetMembersByGroup("Prospect");
}

	
<h3>Active Members</h3>

	@foreach (var member in activeMembers) 
{
	
<p>@(member.GetValue("firstname") + " "+ member.GetValue("lastname")) </p>
	
<p>Address: @member.GetValue("address")<br />
   Zip/City: @(member.GetValue("zip") + " "+ member.GetValue("city"))<br />
   Mobile:  @member.GetValue("mobile")
</p>
	<br />
}


	
<h3>Prospect Members</h3>

	@foreach (var member in prospectMembers) 
{
	
<p>@(member.GetValue("firstname") + " "+ member.GetValue("lastname"))</p>

<p>Mobile: @member.GetValue("mobile")</p>
	<br />	
}